html,
body {
    height: 100%;
    margin: 0;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
}

.content {
    max-width: 750px;
    width: 100%;
}

.list-group-item {
    text-align: left;
    overflow: auto;
}

.card {
    max-width: 500px;
    width: 100%;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 200;
}

.question-title {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.question-description {
    flex: 1;
}

.read-more,
.read-less {
    white-space: pre-line;
    cursor: pointer;
}

.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-iframe {
    display: none;
    max-width: 800px !important;
    min-height: 400px !important;
    width: 100%;
    height: 100%;
}

#reload-preview {
    display: none;
    margin-top: 0.5rem;
}

#pagination-container {
    max-width: 750px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.pagination .page-item {
    margin: 0;
    flex: 1;
}

.pagination .page-link {
    padding: 0.5rem 1rem;
}

.page-input-item {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.page-input {
    width: 50px;
    padding: 0.25rem;
    margin-right: 0.25rem;
}

.page-input::-webkit-inner-spin-button,
.page-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-input-item {
    flex: 0 0 auto;
}

.page-input-item .page-link {
    display: flex;
    align-items: center;
    padding: 0.35rem 1rem;
    flex: 1;
    justify-content: space-evenly;
}