<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Search for Leetcode Questions</title>
</head>
<body>
    <div class="container-fluid px-0 centered-container">
        <div class="card p-4">
            <h1 class="text-center mb-4">Search Questions</h1>
            <div class="search-bar">
                <form action="{{ url_for('search') }}" method="POST" style="max-width: 300px; width: 100%;">
                  <div class="input-group">
                    <input type="search" class="form-control" name="query" placeholder="Search for Leetcode Questions" value ="{{query}}" aria-label="Search" aria-describedby="search-addon" required >
                    <button type="submit" class="btn btn-primary rounded-end">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </form>
            </div>  
            <div class="form-check form-switch" title="Toggle Dark Theme">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">
                    <i class="far fa-moon"></i>
                </label>
              </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
